<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/Game.js"></script>

<style>
	.square {
		border: 1px outset black;
		height:25px;
		width:25px;
		cursor:pointer;
	}
	.col-centered{
	    float: none;
	    margin: 0 auto;
	}
</style>

</head>
<body data-ng-app="GamesApp" data-ng-controller="GamesController">

<div class="jumbotron text-center">
	<h2>Juegos</h2>
	<div id="mensajeCorto"></div>	
</div>

<div class="jumbotron text-center">
	<div class="row" id="divMenu">
		<div class="col-sm-3"></div>
		<div class="col-sm-3" id="mostrarLogin">
			<a>Login</a>
		</div>
		<div class="col-sm-3" id="mostrarRegistro">
			<a>Registro</a>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row" id="logout" style="display:none">
		<div class="col-sm-4"></div>
		<div class="col-sm-2">
			<a data-ng-click="logout()">Salir</a>
		</div>
		<div class="col-sm-4"></div>
	</div>
	
	<div class="container" id="divFormularios">
		<div class="row">
			<div class="col-sm-12 col-centered">
				<div id="divLogin" style="display:none">
					<b>Login</b><br>
					<input type="text" data-ng-model="userName" placeholder="user name"><br>
					<input type="password" data-ng-model="pwd" placeholder="password"><br>
					<button data-ng-click="login()" id="btnLogin">Login</button><br>
				</div>
				<div id="divRegistro" style="display:none">
					<b>Registro</b><br>
					<input type="email" placeholder="email" data-ng-model="email"><br>
					<input type="text" placeholder="user name" data-ng-model="userName"><br>
					<input type="password" placeholder="password" data-ng-model="pwd1"><br>
					<input type="password" placeholder="repeat your password" data-ng-model="pwd2"><br>
					<button data-ng-click="register()">Register</button><br>
				</div>
				<div id="divSeleccionDeJuego" style="display:none">
					<select data-ng-model="game.name" data-ng-options="game for game in games"></select>
					<button data-ng-click="joinGame()">Join game</button>	
				</div>
			</div>
		</div>
		
		<div class="container" id="divPartida">
			<div class="row">
				<div class="col-sm-12" id="opponent">
				</div>
				<div class="col-sm-12" id="tictactoeBoard" style="display:none">
					<table border="1">
						<tr>
							<td>
								<button data-ng-click="move([0,0])" class="square" id="00"></button>
								<button data-ng-click="move([0,1])" class="square" id="01"></button>
								<button data-ng-click="move([0,2])" class="square" id="02"></button><br>
								<button data-ng-click="move([1,0])" class="square" id="10"></button>
								<button data-ng-click="move([1,1])" class="square" id="11"></button>
								<button data-ng-click="move([1,2])" class="square" id="12"></button><br>
								<button data-ng-click="move([2,0])" class="square" id="20"></button>
								<button data-ng-click="move([2,1])" class="square" id="21"></button>
								<button data-ng-click="move([2,2])" class="square" id="22"></button><br>
							</td>
						</tr>
					</table>				
				</div>
				<div class="col-sm-12" id="turnTTT">
				</div>
				<div class="col-sm-12" id="messagesTTT">
				</div>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function() {
	$("#mostrarLogin").click(function() {
		$('#divLogin').show();
		$('#divRegistro').hide()
	}),
	$("#mostrarRegistro").click(function() {
		$('#divLogin').hide();
		$('#divRegistro').show()
	})
});

var app=angular.module("GamesApp", []);
app.controller("GamesController", function($scope, $http) {
	$scope.userName="";
	$scope.pwd="";
	$scope.pwd1="";
	$scope.pwd2="";
	$scope.email="";
	$scope.estado="Desconectado";
	
	$scope.login = function() {
		var recurso="/login";
		var data= "userName=" + $scope.userName + "&pwd=" + $scope.pwd;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
			function(response) {
				$scope.userName=response.data.userName;
				$("#divMenu").hide();
				$("#divLogin").hide();
				$("#divRegistro").hide();
				$("#logout").show();
				$("#divSeleccionDeJuego").show();
				sessionStorage.userName=$scope.userName;
				$("#mensajeCorto").html("Conectado como " + $scope.userName);
				$scope.loadGames();
				$scope.conectar();
			},
			function(response) {
				$("#mensajeCorto").html(response.data.message);
			}
		);
	};
	
	$scope.register = function() {
		var recurso="/register";
		var data="userName=" + $scope.userName + 
				"&email=" + $scope.email + "&pwd1=" + $scope.pwd1 +
				"&pwd2=" + $scope.pwd2;
		var config = {
				headers : {
					'Content-Type' : 'application/x-www-form-urlencoded'
				}		
			};
		$http.post(recurso, data, config).then(
			function(respuesta) {
				$("#mensajeCorto").html("Registrado correctamente");
			},
			function(respuesta) {
				$("#mensajeCorto").html(respuesta.data.message);
			}
		);
	}
	
	$scope.loadGames = function() {
		$http.get("/games").then(
			function(respuesta) {
				$scope.games=respuesta.data;
			}
		);
	};
	
	$scope.joinGame = function() {
		var recurso="/joinGame";
		var data= "gameName=" + $scope.game.name;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
			function(response) {
				$("#divSeleccionDeJuego").hide();
				response=response.data;
				if ($("#opponent").html().trim().length==0)
					$("#opponent").html("Esperando oponente...");
			},
			function(response) {
				alert("Error");
			}
		);
	};
	
	$scope.conectar = function() {
		$scope.ws=new WebSocket("ws://localhost:8080/gamews");
		$scope.ws.onopen = function() {
			$scope.$apply($scope.estado="Conectado");
		}
		$scope.ws.onmessage = function(mensaje) {
			console.log(mensaje.data);
			var data=mensaje.data;
			data=JSON.parse(data);
			if (data.TYPE=="NEW_MATCH") {
				var userNameA=data.playerA.userName;
				var userNameB=data.playerB.userName;
				var opponentUserName;
				if (userNameA==sessionStorage.userName)
					opponentUserName=userNameB;
				else
					opponentUserName=userNameA;
				var gameName=data.gameName;
				$("#opponent").html("Jugando a " + gameName + " contra " + opponentUserName);
				if (gameName=="tictactoe") {
					$("#tictactoeBoard").show();
					$("#turnTTT").html("Turno de " + data.currentPlayerUserName);
				}
				return;
			}
			if (data.TYPE=="MOVEMENT") {
				$("#turnTTT").html("Turno de " + data.currentPlayerUserName);
				var squares=data.board.squares;
				for (var i=0; i<3; i++)
					for (var j=0; j<3; j++)
						document.getElementById(i + "" + j).innerHTML=squares[i][j];
				if (data.winner!=null) {
					$("#messagesTTT").html("Ha ganado " + data.winner.userName + ". Pulsa <a href='javascript:restaurar()'>aquí</a> para empezar otra partida.");
				}
				return;
			}
			if (data.TYPE=="ERROR") {
				$("#messagesTTT").html(data.MESSAGE);
			}
		}
		
		$scope.ws.onerror = function(mensaje) {
			$scope.$apply($scope.estado="Error: " + mensaje.data);
			console.log("Error: " + mensaje.data);
		}
		
		$scope.ws.onclose = function(mensaje) {
			$scope.$apply($scope.estado="Closed");
		}
	};
	
	$scope.move = function(coordinates) {
		var p = {
			TYPE : "MOVEMENT",
			coordinates : coordinates
		};
		$scope.ws.send(JSON.stringify(p));
	}
	
	$scope.logout = function() {
		$http.get("/salir").then(
			function(respuesta) {
				window.location.reload();
			}
		);
	}
});

function restaurar() {	
	$("#divPartida").hide();
	$("#opponent").html("");
	$("#turnTTT").html("");
	$("#messagesTTT").html("");
	$("#divSeleccionDeJuego").show();
}
</script>

</body>
</html>
