<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body data-ng-app="GamesApp" data-ng-controller="GamesController">

<div class="jumbotron text-center">
	Ejemplo de reflexión (java.lang.reflect)
	<div id="mensajeCorto"></div>	
	<div id="divLogin">
		<b>Login</b><br>
		<input type="text" data-ng-model="userName" placeholder="user name"><br>
		<input type="password" data-ng-model="pwd" placeholder="password"><br>
		<button data-ng-click="login()" id="btnLogin">Login</button><br>
	</div>
</div>

<script>
var app=angular.module("GamesApp", []);
app.controller("GamesController", function($scope, $http) {
	$scope.userName="";
	$scope.pwd="";
	$scope.email="";
	
	$scope.login = function() {
		var recurso="/login";
		var data= "userName=" + $scope.userName + "&pwd=" + $scope.pwd;
		var config = {
			headers : {
				'Content-Type' : 'application/x-www-form-urlencoded'
			}		
		};
		$http.post(recurso, data, config).then(
			function(response) {
				$("#mensajeCorto").html(JSON.stringify(response.data));
			},
			function(response) {
				$("#mensajeCorto").html(response.data.message);
			}
		);
	};
}); 
</script>

</body>
</html>
