<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Ejemplo MVC</title>
</head>
<body style="background-color:#FFFAF0">
	<div id="conMVC" data-ng-app="Calculadora" data-ng-controller="CalculadoraController">
		<table>
			<tr>
				<td>
					<input type="number" data-ng-model="a"> 
				</td>
				<td>
					<button data-ng-click="select('+')">+</button><br>
					<button data-ng-click="select('-')">-</button><br>
					<button data-ng-click="select('*')">*</button><br>
					<button data-ng-click="select('/')">/</button><br>
				</td>
				<td rowspan="4">
					<input type="number" data-ng-model="b"> 
				</td>
				<td rowspan="4">
					<button data-ng-click="calcular()">Calcular</button> 
				</td>
				<td rowspan="4">
					<input type="number" data-ng-model="resultado"> 
				</td>
			</tr>
		</table>
	</div>
	
	<script>
	var app = angular.module('Calculadora', []);
	app.controller('CalculadoraController', function($scope) {
		$scope.a=4;
		$scope.b=5;
		$scope.operador='+';
		
		$scope.calcular = function() {
			if ($scope.operador=='+')
				$scope.resultado=$scope.a + $scope.b;
			else if ($scope.operador=='-')
				$scope.resultado=$scope.a - $scope.b;
			else if ($scope.operador=='*')
				$scope.resultado=$scope.a * $scope.b;
			else 
				$scope.resultado=$scope.a / $scope.b;
		}
		
		$scope.select = function(operador) {
			$scope.operador=operador;
		}
	});
	</script>
</body>
</html>